body.main header{
    float:left;
    width:50%;
    font-size:50px;
    text-align:center;
}
body.main header.rigil{
    float:right;
}
header.spica{
    font-size:25px;
}
header{
    text-align:center;
    font-size:50px;
}
div{
    font-style:italic;
}
figure{
    border-width:5px;
    padding:5px;
}
nav{
    text-align:center;
    font-size:40px;
    color:white;
}
body.main{
    background:linear-gradient(to right, rgb(240, 79, 208) 50%, rgb(74, 67, 73) 50%)
}
body.main img{
    animation:enlarge 1.5s forwards;
}
a:hover{
    color:crimson;
}
body.main .history{
    margin-left:47%;
    margin-right:47%;
}
.spica{
    color:rgb(229, 228, 226);
    background-color:rgb(240, 79, 208);
}
.rigil{
    color:rgb(245, 189, 2);
    background-color:rgb(74, 67, 73);
}
span{
    text-align:center;
}
body.main nav .spica{    
    float:left;
    width:50%;
}
body.main nav .rigil{    
    float:right;
    width:50%;
}
body.main span .spica{    
    float:left;
    width:50%;
}
body.main span .rigil{    
    float:right;
    width:50%;
}
header.spica{
    background:rgb(240, 27, 19);
}
header.rigil{
    background:rgb(0, 35, 102);
}
a{
    color:turquoise;
    font-size:25px;
}
nav:hover  #caption{
    visibility:visible;
}

#caption{
    visibility:hidden;
}
img{
    transition:saturate 2s;
    width:10%;
    object-fit:cover
}
img:hover{
    filter:brightness(200%);
    filter:saturate(300%);
}

@keyframes enlarge{
    from{
        width:5px;
    }
    to{
        width:49%;
    }
}
figure.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

img.gallery-item {
  margin:5px;
  border: 2px solid #ccc;
  width: 330px;
}

img.gallery-item:hover {
  border: 2px solid #777;
}

img.gallery-item img {
  width: 100%;
  height: auto;
}
figure.gallery div.desc {
  padding: 15px;
  text-align: center;
}

footer{
    text-align:center;
}
#bold{
    font-weight:bold;
    font-size:20px;
}
body.video span{
    float:left;
}